<%# About Page View %>
<div class = "container p-3" style = "margin-bottom: 25%;">

  <span class = "page_title">
    <i class="fa-solid fa-circle-info"></i> About
  </span>

  <div class = "row">
    <div class = "col-md-9 offset-md-3">
      <h1>This Website is for All Gamers.</h1>
    </div>

    <div class = "col-md-12 text-center" style = "margin-top: 15px;">
      <h3>This Website Allows Users to Post and View Information on "HOW T<i class="fa-solid fa-heart-pulse" style="color: red;"></i> BEAT" Games.</h3>
      <h3>Thank You for Visiting and Using This Website.</h3>
    </div>
    <div class = "col-md-12 text-center" style = "margin-top: 30px;">
      <h1>We Hope You Enjoy a Better Gaming Experience!</h1>
    </div>
  </div>
</div>
