@use '~bootstrap/scss/bootstrap';

* {
  margin:     0;
  padding:    0;
  box-sizing: border-box;
}

/* header & footer background-color */
.bg-custom {
  // background: skyblue;
}

/* header logo image */
.logo-image {
  width:              300px;
  height:             50px;
  background-size:    auto;
  background-repeat:  no-repeat;
}

/* header button */
.nav_button {
  margin:           10px;
  padding:          10px;
  // background:     navy;
  color:          white;
  // border-radius:    10px;
  text-decoration:  none;
}

/* drop down button */
.fa-circle-chevron-down {
  color: white;
}
